# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Svetoslav Dimov\SE Course 2 Sem 1\Java course\Course project2 - Get 15\Get15\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
